{% extends "layouts/base.html" %} <!-- Extiende la plantilla base.html -->

{% block title %}Login{% endblock %} <!-- Define el título de la página -->

{% block content %} <!-- Bloque de contenido principal -->


    


<body class="body"> <!-- Define la clase de fondo del cuerpo de la página -->
    
    <form class="form login" action="{% url 'login' %}" method="post"> <!-- Formulario para iniciar sesión -->
        <h2>Iniciar Sesión</h2> <!-- Título del formulario -->

        {% csrf_token %} <!-- Token CSRF para protección contra falsificación de solicitudes entre sitios -->
        <label for="identifier">Usuario o Email:</label><br> <!-- Etiqueta para el campo de usuario o correo electrónico -->
        <input type="text" id="identifier" name="identifier" required><br> <!-- Campo de entrada de texto para el usuario o correo electrónico -->
        <label for="password">Contraseña:</label><br> <!-- Etiqueta para el campo de contraseña -->
        <input type="password" id="password" name="password" required><br> <!-- Campo de entrada de texto para la contraseña -->
        <button type="submit" class="submit">Iniciar Sesión</button> <!-- Botón para enviar el formulario -->
        <p class="invitacion">No tienes cuenta? <a class="a" href="{% url 'crear_cuenta' %}">Crea una Aquí</a></p> <!-- Enlace para crear una cuenta si no la tienes -->

    </form>
</body>

{% if error_message %}
    <!-- Bloque de renderizado condicional para mostrar un mensaje de error si existe uno -->
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}


{% endblock %}
